body, html
{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
	text-align: center;
	display: table;
}

.wrapper
{
	display: table-cell;
    vertical-align: middle;
	width: 100%;
	height: 100%;
}

.canvas
{
	display: block;
   	margin: 0 auto;
	text-align: center; 
	margin: auto;
	width: 100%;
	height: 100%;
	background: #000;
}